.error_style {
  background-color: #e52;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-height: 100%;
}

.intro-section {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  line-height: 20px;
}

.menu-toggle i {
  display: flex;
  color: #6070ff;
}

.nav-bar #nav-menu {
  background: #6070ff;
  mix-blend-mode: multiply;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  filter: blur(0);
  height: 500vh;
  padding-top: 125px;
}

.nav-menu li {
  padding-bottom: 40px;
}

.nav-menu a {
  margin-left: 24px;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.nav-menu .r-side {
  color: #fff;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 40px;
  left: 310px;
}

.nav-ul {
  display: none;
}

.intro {
  background-color: #fff;
  border-bottom-left-radius: 100px;
}

.intro-text {
  margin: 24px;
}

.intro-text h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  margin-top: 114px;
}

.intro-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 .fa-xmark {
  color: #67798e;
  cursor: pointer;
  font-size: 15px;
  margin-left: 139px;
}

.cta-btn {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  margin-top: 12px;
  margin-bottom: 114px;
}

.media-icon {
  color: #505f79;
  padding: 20px 12px;
}

/******************* modal section styles
.unknown {
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: 3;
  overflow: auto;
}
********************/
.modal-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 3;
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.modal {
  padding: 16px;
  background: #fff;
  width: 327px;
  height: 780px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.modal img {
  margin-top: 20px;
}

.phones-descr {
  display: block;
}

.pc-descr {
  display: none;
}

.modalBtn {
  margin-right: 12px;
  margin-top: 0;
}

.pc-techs {
  display: none;
}

.crop {
  background: #ebecf0;
  height: 1px;
  width: 303px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.abt-section {
  padding: 24px;
  background: #fff;
  border-top-right-radius: 100px;
}

.about-info-section {
  background: #e5e5e5;
}

.abt-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.abt-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.division-lang {
  margin-bottom: 110px;
}

.lng {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-top: 12px;
}

.about-me-ul {
  margin-top: 55px;
}

.about-me-ul a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.lng img {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 12px;
}

.lng p {
  margin-left: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frameworks-section {
  margin-top: 36px;
}

.frameworks-section a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.burrier {
  background: #dfe1e6;
  height: 1px;
  width: 327px;
  margin-top: 24px;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 58px;
}

.portfolio-section {
  background: #e5e5e5;
  padding: 114px 24px;
  display: grid;
  justify-content: center;
}

.works {
  padding: 16px;
  margin-top: 88px;
  background: #fff;
  width: 327px;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex-direction: column;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: auto;
}

.business {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
}

.dot {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.business li {
  color: #7a869a;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}

.business a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.busns {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.techs {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 12px;
}

.techs li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  justify-content: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  letter-spacing: 0.1em;
}

.btn {
  display: inline-grid;
  padding: 13px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
}

.btn:hover {
  color: #fff;
  background: #396df2;
  transition: 0.5s;
}

.btn-unknown {
  margin-top: 24px;
  background-color: white !important;
}

.blur {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 85vh;
  backdrop-filter: blur(10px);
}

/******************* styles for contact me section *******************/
.cntct-frm {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
  background-image: url(./images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.fm-section-contact-title {
  font-size: 40px;
  color: #ffff;
}

.fm-section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.fm-section-title p {
  align-self: center;
}

.fm-section {
  margin: 24px;
  margin-top: 50px;
}

.fillPaper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fillPaper input {
  height: 48px;
  width: 100%;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid white;
}

.fillPaper textarea::placeholder {
  color: #b3bac5;
}

.cntct-frm .btn {
  padding: 12px 16px;
  margin-bottom: 45px;
}

.fillPaper input::placeholder {
  color: #b3bac5;
}

#textarea {
  height: 170px;
  width: 100%;
  border-radius: 8px;
  padding: 15px 32px 15px 16px;
}

.text-white {
  color: #fff;
}

.text-offwhite {
  color: #ebebff;
  width: 327px;
}

.margin-vertical-50px {
  margin: 50px 0;
}

.font-size-20px {
  font-size: 20px;
}

.text-justified-center {
  text-align: center;
}

.form-b:hover {
  color: white;
  background: #396df2;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .menu-toggle > i {
    display: none;
  }

  .error_style {
    background-color: red;
    color: white;
  }

  .r-side {
    display: none;
  }

  .nav-bar #nav-menu {
    display: none;
  }

  .nav-ul {
    display: flex;
  }

  .nav-item a {
    margin-right: 32px;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .navbar {
    margin-left: 155px;
    margin-right: 155px;
  }

  .nav-item:hover {
    text-decoration: underline;
  }

  .intro-section {
    background-image: url(./images/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }

  .intro-text {
    margin-top: 220px;
    margin-left: 260px;
    margin-right: 260px;
    padding-bottom: 200px;
  }

  .intro-text h1 {
    margin-top: 0;
  }

  .intro-text p {
    font-size: 20px;
  }

  .social-media {
    margin-bottom: 0;
  }

  .media-icon {
    transition-duration: 0.5s;
  }

  .media-icon i:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }

  /* ----------------------------popup------------- */

  .modal {
    width: 1156px;
    height: 1163px;
  }

  h3 .fa-xmark {
    margin-left: 70%;
    font-size: 15px;
  }

  .modal img {
    width: 1108px;
    height: 586px;
  }

  .insideLeft {
    width: 728px;
    float: left;
  }

  .insideRight {
    float: right;
    margin-right: 30px;
  }

  .phones-descr {
    display: none;
  }

  .pc-descr {
    display: block;
  }

  .crop {
    width: 298px;
  }

  .modalBtn {
    width: 142px;
  }

  /* ***************About me section styles *********************/
  .abt-section {
    display: flex;
    margin-bottom: 150px;
  }

  .about-text {
    width: 447px;
    height: 392px;
    margin-left: 142px;
  }

  .division-lang {
    margin-top: 50px;
    width: 684px;
    height: 360px;
    margin-left: 37px;
  }

  .lng {
    display: inline-block;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    align-items: center;
    margin-top: 36px;
  }

  .burrier {
    width: 685px;
  }

  /******************  works field section styles  *****************/
  .portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works {
    display: flex;
    flex-direction: row;
    width: 1156px;
    height: auto;
  }

  .works:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card-work {
    padding: 46px;
  }

  .card-work h3 {
    font-size: 40px;
  }

  .business {
    display: flex;
  }

  .business li {
    font-size: 18px;
  }

  .business a {
    font-size: 18px;
  }

  .busns {
    font-size: 16px;
    margin-top: 32px;
  }

  .techs {
    display: flex;
    font-size: 12px;
    margin-top: 24px;
  }

  .img-transition {
    width: 544px;
    height: 448px;
    transition-duration: 0.5s;
  }

  .img-transition:hover {
    transform: scale(1.1);
  }

  .btn {
    justify-content: center;
  }

  .cntct-frm {
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .fm-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-offwhite {
    width: 520px;
  }

  .fillPaper input {
    width: 447px;
    height: 48px;
  }

  textarea {
    width: 447px;
    height: 170px;
  }

  .fm-btn {
    margin-left: 151px;
  }
}
